.dot {
    height: 150px;
    width: 150px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-top: 10px;
}

.column {
    float: center;
    width: 25%;
    margin-right: 10px !important;
}

.row {
    float: center;
}
/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    padding: 5px !important;
    margin: 5px;
}

.logout {
    float: right;
    margin-top: 10px;
}

.card-img-top {
    width: 250px;
    height: auto;
    float: center;
    margin: 0px auto !important;
}